Source: tedhello
Section: devel
Priority: optional
Maintainer: Santiago Vila <sanvila@debian.org>
Standards-Version: 4.3.0
Build-Depends: debhelper-compat (= 9)
Homepage: http://www.gnu.org/software/hello/
#Rules-Requires-Root: no
Package: tedhello
Architecture: all
Version: 1.0
#Depends: ${shlibs:Depends}, ${misc:Depends}
Description: test for demonstration
